# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
.venv/
env/
venv/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.bak
*.orig

# OS-specific files
.DS_Store
Thumbs.db